alacritty/READTHIS

simple-chat/
.env

Epic/
GIMP/
GottCode/
QtProject.conf
cef_user_data/
coc/
dconf/
discord/
git/
gtk-2.0/
gzdoom/
htop/
kdenliverc
keepassxc/
mimeapps.list
neofetch/
pulse/
qBittorrent/
redshift/
systemd/
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/

.gitconfig
GIMP.bk/
Ladybird/
Notable/
backup.txt
bashtop/
cubocore/
dolphinrc
fontforge/
go/
gtk-3.0/
kde.org/
kitty/
libfm/
libreoffice/
nvim/lua/austino/config/nvim-dap.lua
nvim/lua/austino/config/vimtex.lua
nwg-look/
obs-studio/
obsidian/
pavucontrol.ini
pcmanfm/
rofi/
transmission/
waybar-default/
xsettingsd/

