*
!.gitignore

!X11/
!X11/*

!alacritty/
!alacritty/alacritty.*

!bash/
!bash/.bash*

!hypr/
!hypr/*.conf

!i3/
!i3/config

!i3blocks/
!i3blocks/config

!neovide/
!neovide/config.toml

!nvim/
!nvim/init.lua
!nvim/lua/
!nvim/lua/austino/
!nvim/lua/austino/*.lua
!nvim/lua/austino/functions/
!nvim/lua/austino/functions/*.lua

!rofi/
!rofi/config.rasi
!rofi/themes/
!rofi/themes/*.rasi

!sway/
!sway/config

!waybar/
!waybar/config
!waybar/style.css
